<div [ngSwitch]="type">
  <nz-select *ngSwitchCase="1" [(ngModel)]="value" (ngModelChange)="valueChange.emit(value)">
    <nz-option [nzValue]="-1" nzLabel="请选择..." nzHide></nz-option>
    <nz-option *ngFor="let option of options" [nzValue]="option.value" [nzLabel]="option.title"></nz-option>
  </nz-select>
  <nz-switch *ngSwitchCase="8" [(ngModel)]="value" (ngModelChange)="valueChange.emit(value)"></nz-switch>
  <input [name]="name" *ngSwitchDefault nz-input [(ngModel)]="value" (ngModelChange)="valueChange.emit(value)" />
</div>