.container-search-table {
  height: 100%;

  nz-table {
  }

  nz-collapse {
    margin-bottom: 10px;

    .container-search {

      .prop {
        text-align: end;
        width: 25px;
        padding-left: 20px;
        margin-top: 10px;
      }
    }
  }

  .container-button {
    margin-bottom: 10px;

    button {
      margin-right: 10px;
    }

    .search-button-group {
      float: right;
    }
  }

}
