<div class="container-search-table">
  <nz-collapse>
    <nz-collapse-panel nzHeader="搜索">
      <div class="container-search">
        <span *ngFor="let column of searchColumns" class="prop">
          {{column.title}}:
          <app-input name="column.dataIndex" ngDefaultControl [(value)]="searchData[column.dataIndex]"
            [name]="column.dataIndex" [type]="column.type" [options]="column.options" style="display: inline-block">
          </app-input>
        </span>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <div class="container-button">
    <button nz-button nzType="primary" (click)="preSave()">新增</button>
    <button nz-button nzType="primary">导入</button>
    <button nz-button nzType="primary">导出</button>
    <button nz-button nzType="danger">删除</button>
    <button nz-button nzType="primary" (click)="search(searchData)" class="search-button-group">搜索</button>
    <button nz-button nzType="primary" (click)="resetSearch()" class="search-button-group">重置</button>
  </div>
  <nz-table [nzLoading]="loading" nzSize="small" [nzData]="renderedData" [nzPageIndex]="pageIndex"
    [nzShowTotal]="rangeTemplate" [nzScroll]="{y: '400px'}" nzShowSizeChanger [nzTotal]="total"
    nzFrontPagination="false" nzShowQuickJumper nzShowPagination [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
    (nzPageSizeChange)="searchAndRefresh()" (nzPageIndexChange)="searchAndRefresh()">
    <ng-template #rangeTemplate let-range="range" let-total>
      当前 {{ range[0] }}-{{ range[1] }} 条， 共 {{ total }} 条数据
    </ng-template>
    <thead nzSingleSort>
      <tr>
        <th nzWidth="50px" nzShowCheckbox [nzChecked]="isAllChecked" [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th *ngFor="let column of columns" [nzWidth]="column.width ? column.width : '120px'">{{column.title}}</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of renderedData">
        <td nzShowCheckbox [(nzChecked)]="checkedList[data.id]" (nzCheckedChange)="handleCheckChange()"></td>
        <td *ngFor="let column of columns">
          <span>{{data[column.dataIndex]}}</span>
        </td>
        <td>
          <ng-container *ngIf="update">
            <a (click)="preEdit(data)">编辑</a>
          </ng-container>
          &nbsp;
          <ng-container *ngIf="delete">
            <a *ngIf="delete" nz-popconfirm nzPopconfirmTitle="你确定要删除该记录吗?" (nzOnConfirm)="handleDelete(data)">删除</a>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <app-edit-modal [columns]="columns" [save]="update" [editData]="editData" [visible]="modalVisible"
    (visibleChange)="modalVisibleChange($event)"></app-edit-modal>
</div>