<div class="container-search-table">
  <nz-table [nzLoading]="loading" nzSize="small" [nzData]="renderedData" [nzPageIndex]="pageIndex"
    [nzScroll]="{y: '400px'}" nzShowSizeChanger [nzTotal]="total" nzFrontPagination="false" nzShowQuickJumper
    nzShowPagination [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex" (nzPageSizeChange)="searchAndRefresh()"
    nzBordered="true" (nzPageIndexChange)="searchAndRefresh()">
    <thead nzSingleSort>
      <tr>
        <th nzWidth="50px" nzShowCheckbox [nzChecked]="isAllChecked" [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th *ngFor="let column of columns" [nzWidth]="column.width ? column.width : '120px'">{{column.title}}</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of renderedData">
        <td nzShowCheckbox [(nzChecked)]="checkedList[data.key]" (nzCheckedChange)="handleCheckChange()"></td>
        <td *ngFor="let column of columns">{{data[column.dataIndex]}}</td>
        <td>
          <ng-container *ngIf="update">
            <a (click)="edit(data)">编辑</a>
          </ng-container>
          &nbsp;
          <ng-container *ngIf="delete">
            <a *ngIf="delete" nz-popconfirm nzPopconfirmTitle="你确定要删除该记录吗?" (nzOnConfirm)="handleDelete(data)">删除</a>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-modal [nzVisible]="modalVisible" (nzOnCancel)="modalVisible = false" [nzClosable]="false" nzTitle="编辑"
    (nzOnOk)="handleUpdate()" nzWidth="600">
    <div class="container-edit">
      <span *ngFor="let column of columns" class="prop">
        {{column.title}}:
        <app-input name="column.dataIndex" ngDefaultControl [(ngModel)]="editData[column.dataIndex]"
          [name]="column.dataIndex" [type]="column.type" [options]="column.options" style="display: inline-block">
        </app-input>
      </span>
    </div>
  </nz-modal>
</div>