<div class="container-search-table">
  <nz-table [nzLoading]="loading" nzSize="small" [nzData]="allData" [nzPageIndex]="pageIndex" [nzScroll]="{y: '500px'}" nzShowSizeChanger [nzTotal]="total"
    nzFrontPagination="false"
    nzShowQuickJumper nzShowPagination [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex" (nzPageSizeChange)="searchData()" (nzPageIndexChange)="searchData()">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzShowCheckbox [nzChecked]="isAllChecked" [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th nzShowSort nzSortKey="name">姓名</th>
        <th nzShowFilter [nzFilters]="filterGender" (nzFilterChange)="updateFilter($event)">性别</th>
        <th nzShowSort nzSortKey="email"><span>Email</span></th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of allData">
        <td nzShowCheckbox [(nzChecked)]="checkedList[data.key]" (nzCheckedChange)="handleCheckChange()"></td>
        <td>{{ data.name }}</td>
        <td>{{ data.gender }}</td>
        <td>{{ data.email }}</td>
        <td>
          <div class="editable-row-operations">
            <ng-container>
              <a>编辑</a>
            </ng-container>
            <ng-template>
              <a>保存</a>
              <a nz-popconfirm nzTitle="Sure to cancel?">Cancel</a>
            </ng-template>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-pagination [(nzPageIndex)]="pageIndex" [nzTotal]="total" nzShowSizeChanger [(nzPageSize)]="pageSize" (nzPageSizeChange)="searchData()" (nzPageIndexChange)="searchData()"
    nzShowQuickJumper></nz-pagination>
</div>