<nz-modal [nzVisible]="visible" (nzOnCancel)="modalVisible = false" [nzClosable]="false" nzTitle="编辑"
  (nzOnOk)="handleSubmit()" nzWidth="600" (nzOnCancel)="handleCancel()" [nzOkDisabled]="!form.valid">
  <div class="container-edit">
    <form nz-form nzLayout="inline" [formGroup]="form">
      <nz-form-item *ngFor="let column of columns" [ngSwitch]="column.type" class="prop">
        <nz-form-label [nzRequired]="column.required">{{column.title}}</nz-form-label>
        <nz-form-control [nzErrorTip]="'请输入' + column.title + '！'" class="span-prop">
          <nz-input-group>
            <span>
              <input *ngSwitchDefault nz-input [formControlName]="column.dataIndex" />
              <nz-select *ngSwitchCase="1" [nzMode]="column.multiple ? 'multiple' : 'default'" [formControlName]="column.dataIndex" nzPlaceHolder="请选择...">
                <nz-option *ngFor="let option of column.options" [nzValue]="option.value" [nzLabel]="option.title">
                </nz-option>
              </nz-select>
              <nz-input-number *ngSwitchCase="3" [formControlName]="column.dataIndex" [nzMin]="0" [nzStep]="1"></nz-input-number>
              <nz-date-picker *ngSwitchCase="4" [formControlName]="column.dataIndex"></nz-date-picker>
              <nz-time-picker *ngSwitchCase="5" [formControlName]="column.dataIndex"></nz-time-picker>
              <nz-radio-group *ngSwitchCase="7" [formControlName]="column.dataIndex">
                <label *ngFor="let option of column.options" nz-radio [nzValue]="option.value">{{option.title}}</label>
              </nz-radio-group>
              <nz-switch *ngSwitchCase="8" [formControlName]="column.dataIndex"></nz-switch>
            </span>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-modal>